<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title><%- meta.title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<link rel="apple-touch-icon-precomposed" href="/v/<%= global.BUILD_VERSION %>/images/favicons/rufio-152.png">
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/v/<%= global.BUILD_VERSION %>/images/favicons/rufio-152.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/v/<%= global.BUILD_VERSION %>/images/favicons/rufio-144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/v/<%= global.BUILD_VERSION %>/images/favicons/rufio-120.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/v/<%= global.BUILD_VERSION %>/images/favicons/rufio-114.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/v/<%= global.BUILD_VERSION %>/images/favicons/rufio-72.png">
		<link rel="apple-touch-icon-precomposed" href="/v/<%= global.BUILD_VERSION %>/images/favicons/rufio-57.png">
		<link rel="icon" sizes="228x228" href="/v/<%= global.BUILD_VERSION %>/images/favicons/rufio-228.png">
		<link rel="icon" sizes="128x128" href="/v/<%= global.BUILD_VERSION %>/images/favicons/rufio-128.png">
		<link rel="icon" sizes="64x64" href="/v/<%= global.BUILD_VERSION %>/images/favicons/rufio-64.png">
		<meta name="msapplication-TileColor" content="#1b1b1b">
		<meta name="msapplication-TileImage" content="/v/<%= global.BUILD_VERSION %>/images/favicons/rufio-144.png">
		<link rel="shortcut icon" href="/v/<%= global.BUILD_VERSION %>/images/favicons/favicon.ico"/>

		<link rel="canonical" href="<%- meta.absUrl %>" />
		<meta name="description" content="<%- meta.description %>">
		<%= include('partials/styles.html') %>
		<%= include('partials/scripts.html') %>
    </head>
    <body>
		<%= include('partials/oldie.html') %>

		<header id="navigation">
			<a href="#navigation" class="open">Open Navigation</a>
			<nav class="page-nav">
				<div class="page-nav-inner">
					<h1 class="page-logo"><a href="/index.html" title="<%- global.hostname %> - <%- global.tagline %>"><%- global.hostname %> - <%- global.tagline %></a></h1>
					<%= filters.apply('navList', { items: types.page.items, classes: 'pages' }) %>

					<h3>Articles</h3>
					<%= filters.apply('navList', { items: types.post.items, classes: 'articles', limit: 5 }) %>
				</div>
			</nav>

			<div class="nav-bottom">
				<% if (global.socialLinks && global.socialLinks.length > 0) { %>
					<div class="social-links">
						<ul>
							<% for (var i in global.socialLinks) { %>
								<li class="social-icon <%= i %>"><a href="<%- global.socialLinks[i].href %>"><%- global.socialLinks[i].name %></a></li>
							<% } %>
						</ul>
					</div>
				<% } %>
				<a class="powered-by" title="Super Powered by Rufio" href="https://github.com/wesleytodd/rufio">Super Powered by Rufio</a>
			</div>
		</header>
