@import './variables',
		'compass/css3/transition',
		'compass/css3/border-radius',
		'compass/utilities/general/clearfix';

/*=====================
 * Page Content
 *=====================*/
.content {
	position: relative;
	z-index: 1;
	overflow: hidden;
	background-color: $color-opposite;

	@media (min-width: 60.938em){
		padding-top: 4.8em;
		margin-left: 20%;
		width: 80%;
	}
}
.page-header,
.post-header {
	background: rgba(233,233,233,.6);
	padding: 1em 2em;
	border-bottom: 1px dotted lighten($color-content, 50%);
	@include transition(left 0.3s ease-out);

	h1 {
		margin-bottom: 0;
		position: relative;
	}

	.date {
		float: right;
	}

	@media (min-width: 60.938em){
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		left: 20%;
	}
}

/* Content Section */
.page-content,
.post-content {
	margin: 2em;
	@include pie-clearfix();

	header {
		margin-bottom: 1em;
		border-bottom: 1px dotted lighten($color-content, 50%);

		h1 {
			margin-bottom: 0;
			color: #E37C18;
		}
	}
	&.featured-media header {
		border-bottom: none;
	}
	.content {
		@include pie-clearfix();
	}
}

/* Back To top Link */
.to-top {
	position: fixed;
	right: 1em;
	bottom: 1em;
	background: rgba(233,233,233,.4);
	padding: 1.25em 1em .5em;
	@include border-radius(.5em);

	&:hover {
		text-decoration: none;
		&:before {
			border-bottom-color: darken($color-accent, 33%);
		}
	}
	&:before {
		content: '';
		position: absolute;
		left: 50%;
		top: .5em;
		margin-left: -.5em;
		width: 0;
		height: 0;
		border-left: .5em solid transparent;
		border-right: .5em solid transparent;
		border-bottom: .5em solid $color-accent;
	}
}

