/*=====================
 * Variables
 *=====================*/

/* Colors */
$color-content: #222;
$color-accent: #791510;
$color-opposite: #fff;

/* Fonts */
$font-content: 'Open Sans', Arial, sans-serif;
$font-mono: 'Droid Sans Mono', monospace, serif;

/* Sizes */
$base-font-size: 1em;
$base-line-height: 1.5;

